<footer>
  <div>
    <img src="{{ "/images/welogo-blau.png" | prepend: site.baseUrl }}"  alt="" title="wetransform logo" style="width: 25%"/>
  </div>
  <p>This project is maintained by <a href="https://www.wetransform.to">wetransform</a>.</p>
  <p class="view"><a href="https://github.com/wetransform/inspire-extensions">View the Project on GitHub
    <small>wetransform/inspire-extensions</small>
  </a></p>
</footer>
<script src="{{ "/javascripts/scale.fix.js" | prepend: site.baseUrl }}"></script>
