<header>
  <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
  <div id="toc">
    <h2>Table of Contents</h2>
    <ol class="tocLevel1">
      <li><a href="/introduction.html">Introduction</a></li>
      <li><a href="/survey.html">Results of the Survey</a></li>
      <li><a href="/models/index.html">Inventory of Model Extensions</a>
        <ol class="tocLevel2">
          <li><a href="/models/index.html#browseByTag">Browse by tag</a></li>
          <li><a href="/models/index.html#browseByDate">Browse by date</a></li>
        </ol>
      </li>
      <li><a href="">Introduction to the INSPIRE Model-Driven Methodology</a>
      </li>
      <li><a href="">The Pattern Catalogue</a>
      </li>
      <li><a href="">An End-to-End Tutorial Project </a>
      </li>
      <li><a href="">Summary and Conclusions</a>
      </li>
    </ol>
  </div>
</header>
