---
layout: default
---
<section>
  <article itemscope itemtype="http://schema.org/BlogPosting">

  <div>
    <h2 itemprop="name headline">{{ page.modelName }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%d.%m.%Y" }}
      </time>
      {% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
      {% if page.modelOrganisation %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Organisation">
        <span itemprop="name">{{ page.modelOrganisation }}</span>
      </span>
      {% endif %}
    </p>
  </div>

  <div>
    <div class="row row-flex row-flex-wrap">
      <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default flex-col">
          <div class="panel-heading">Overview</div>
          <div class="panel-body flex-grow" style="padding: 0px;">
            <table class="table table-striped" width="100%">
              <tbody>
                <tr>
                  <td width="30%"><strong>Schema language:</strong></td>
                  <td>{{ page.modelSchemaLanguage }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>Spoken Language:</strong></td>
                  <td>{{ page.modelSpokenLanguage }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>Schema Tool:</strong></td>
                  <td>{{ page.modelSchemaTool }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>License:</strong></td>
                  <td>{{ page.modelLicense }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default flex-col">
          <div class="panel-heading">Maturity</div>
          <div class="panel-body flex-grow" style="padding: 0px;">
            <table class="table table-striped" width="100%">
              <tbody>
                <tr>
                  <td width="30%"><strong>Status:</strong></td>
                  <td>{{ page.modelMaturity }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>Latest Version:</strong></td>
                  <td>{{ page.modelLatestVersion }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>Next Version:</strong></td>
                  <td>{{ page.modelNextVersion }}</td>
                </tr>
                <tr>
                  <td width="30%"><strong>Released Versions:</strong></td>
                  <td>{{ page.modelPreviousVersions }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-flex row-flex-wrap">
      <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default flex-col">
          <div class="panel-heading">INSPIRE Integration</div>
          <div class="panel-body flex-grow" style="padding: 0px;">
            <table class="table table-striped" width="100%">
              <tbody>
                <tr>
                  <td width="30%"><strong>Referenced Models:</strong></td>
                  <td>
                    <ul style="margin-bottom: 0px; padding-left: 10px">
                      {% for reference in page.modelsReferenced %}
                      <li><a class="tag-style mt-sm" href="/models/tag/{{ reference }}">{{ reference }}</a></li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td width="30%"><strong>Reference Types:</strong></td>
                  <td>
                    <ul style="margin-bottom: 0px;  padding-left: 10px">
                      {% for referenceType in page.modelReferenceTypes %}
                      <li><a class="tag-style mt-sm" href="/models/tag/{{ referenceType }}">{{ referenceType }}</a></li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default flex-col">
          <div class="panel-heading">Statistics</div>
          <div class="panel-body flex-grow" style="padding: 0px;">
            <table class="table table-striped" width="100%">
              <tbody>
                <tr>
                  <td width="30%"><strong>Number of Types:</strong></td>
                  <td>
                    {{ page.modelStatsSizeTypes }}
                  </td>
                </tr>
                <tr>
                  <td width="30%"><strong>Number of Properties:</strong></td>
                  <td>
                    {{ page.modelStatsSizeProps }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  </article>

  <div class="no-pd-left a2a_kit a2a_kit_size_40 a2a_default_style" data-a2a-title="{{ page.title }}">
    <a class="a2a a2a_button_linkedin"></a>
    <a class="a2a a2a_button_twitter"></a>
    <a class="a2a a2a_button_google_plus"></a>
  </div>

  <script src="https://static.addtoany.com/menu/page.js"></script>

</section>
