---
title: Model Inventory - INSPIRE data specification extensions
slug: models
layout: default
---

<section>
    <div>
        <h2><a class="anchor" name="browseByTag" href="#browseByTag" aria-hidden="true"></a>Browse Models by Tag</h2>
        {% for tag in site.data.tags %}
        <h4><a name="{{ tag.slug }}" id="{{ tag.slug }}" href="#{{ tag.slug }}"></a>Associated with {{ tag.name }}</h4>
        <ul>
            {% for model in site.categories.models %}
                {% for tagModel in model.tags %}
                {% if tagModel == tag.slug %}
                <li>
                    <a href="{{ model.url }}">{{ model.modelName }}</a>
                </li>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}
        <h2><a class="anchor" name="browseByDate" href="#browseByDate" aria-hidden="true"></a>Browse Models by Date</h2>
        <ul>
            {% for model in site.categories.models %}
            <li>
                <a name="" id="" href="{{ model.url }}">{{ model.modelName }} (added {{ model.date | date: "%d.%m.%Y" }})</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
